{% extends 'base.html.twig' %}
 {% block body %}
 <div class="container mt-3">
 <h2>Inscription des enseignant </h2>
 {{ form_start(form) }}

<div class="form-group">
{{ form_row(form.nom,{'attr':{'placeholder':'nom ...','class':'form-control'} }) }}
</div>
<div class="form-group">
{{ form_row(form.prenom,{'attr':{'placeholder':'prenom ...','class':'form-control'} }) }}
</div>
<div class="form-group">
{{ form_row(form.email,{'attr':{'placeholder':'email ...','class':'form-control'} }) }}
</div>
<div class="form-group">
{{ form_row(form.password,{'label':'mot de passe','attr':{'placeholder':'mot de passe ...','class':'form-control'} }) }}
</div>
<div class="form-group">
<button type="submit" class="btn btn-primary">Inscrire</button>
</div>
{{ form_end(form) }}
</div>
{% endblock %}
