<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ISET-QUIZZ{% endblock %}</title>
        <link rel="stylesheet" href=" {{ asset('css/bootstrap.min.css') }} " />
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{path('Home_anonyme')}}">ISET-QUIZZ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{path('Home_anonyme')}}">Accueil <span class="sr-only">(current)</span></a>
      </li>
      {% if app.user %}
        {% if app.user.classe != null %}
      <li class="nav-item active">
        <a class="nav-link" href="{{path('matieres')}}"> Matieres</a>
      </li>
      {% endif %}
      {% endif %}
    </ul>
        <ul class="navbar-nav ml-auto">
        {% if app.user %}
        {% if app.user.classe == null %}
        <li class="nav-item ">
        <a class="nav-link" href="{{path('easyadmin')}}">Back-End</a>
        </li>
        <li class="nav-item ">
        <a class="nav-link" href="{{path('app_logout')}}">Déconnexion</a>
        </li>
        {% else %}  
        <li class="nav-item ">
        <a class="nav-link" href="{{path('app_logout')}}">Déconnexion</a>
        </li>
        {% endif %}
        {% else %}
        <li class="nav-item ">
        <a class="nav-link" href="{{path('app_login')}}">Connexion</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="{{path('Etudiant_registration')}}">Inscription</a>
      </li>
      {% endif %}
    </ul>

  </div>
</nav>
        {% block body %}{% endblock %}
        <script src=" {{asset('js/bootstrap.min.js')}} "></script>
        <script src=" {{asset('js/jquery.min.js')}} "></script>
        <script src=" {{asset('js/popper.min.js')}} "></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
